In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [15]:
import pandas.util.testing as tm; tm.N = 3

def unpivot(frame):
    O, P = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'var' : np.asarray(frame.columns).repeat(O),
            'date' : np.tile(np.asarray(frame.index), P)}
    
   
    return DataFrame(data, columns=['date', 'var', 'value'])


dframe = unpivot(tm.makeTimeDataFrame())

In [16]:
dframe

         date var     value
0  2000-01-03   A  0.381062
1  2000-01-04   A -0.189107
2  2000-01-05   A -0.760988
3  2000-01-03   B -1.383890
4  2000-01-04   B -0.438601
5  2000-01-05   B -0.135280
6  2000-01-03   C  1.087073
7  2000-01-04   C  1.709058
8  2000-01-05   C -1.822658
9  2000-01-03   D -2.050081
10 2000-01-04   D -0.656748
11 2000-01-05   D  1.357564

In [17]:
dframe_pivot = dframe.pivot('date','var','value')

In [18]:
dframe_pivot

var                A         B         C         D
date
2000-01-03  0.381062 -1.383890  1.087073 -2.050081
2000-01-04 -0.189107 -0.438601  1.709058 -0.656748
2000-01-05 -0.760988 -0.135280 -1.822658  1.357564

In [19]:
dframe_pivot

var                A         B         C         D
date
2000-01-03  0.381062 -1.383890  1.087073 -2.050081
2000-01-04 -0.189107 -0.438601  1.709058 -0.656748
2000-01-05 -0.760988 -0.135280 -1.822658  1.357564