In [15]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dem_frame = pd.read_clipboard()

In [4]:
dem_frame

    1936   80,174   45,647  56.9%
0   1940   84,728   49,815  58.8%
1   1944   85,654   48,026  56.1%
2   1948   95,573   48,834  51.1%
3   1952   99,929   61,552  61.6%
4   1956  104,515   62,027  59.3%
5   1960  109,672   68,836  62.8%
6   1964  114,090   70,098  61.4%
7   1968  120,285   73,027  60.7%
8   1972  140,777   77,625  55.1%
9   1976  152,308   81,603  53.6%
10  1980  163,945   86,497  52.8%
11  1984  173,995   92,655  53.3%
12  1988  181,956   91,587  50.3%
13  1992  189,493  104,600  55.2%
14  1996  196,789   96,390  49.0%
15  2000  209,787  105,594  50.3%
16  2004  219,553  122,349  55.7%
17  2008  229,945  131,407  57.1%
18  2012  235,248  129,235  54.9%

In [11]:
dem_frame.columns = ['Year','Voting Age Population','Turnout','Turnout (% of Pop)']

dem_frame

In [ ]:
dem_frame